<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resume - Allan Gonçalves de Freitas</title>

    <!-- Bootstrap core CSS -->
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="/css/all.css" rel="stylesheet">
    <link href="/css/flag.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/resume.min.css}" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a href="?language=es"><i class="spain flag"></i></a>
    <a href="?language=pt_BR"><i class="brazil flag"></i></a>
    <a href="?language"><i class="united states flag"></i></a>

    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Allan Freitas</span>
        <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/img/Allan.jpeg" alt="">
            </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about" th:text="#{about.text}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#experience" th:text="#{experience.text}">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#education" th:text="#{education.text}">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#skills" th:text="#{skills.text}">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#interests" th:text="#{interests.text}">Interests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#awards" th:text="#{awards.text}">Awards</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
            <h1 class="mb-0">
                Allan
                <span class="text-primary">Freitas</span>
            </h1>
            <div class="subheading mb-5">
                Parque Mandaqui · Zona Norte, São Paulo · Skype allansud ·
                <a href="mailto:allan@agfapp.com">allan@agfapp.com</a>
            </div>
            <p class="lead mb-5">
                In the last 6 years I have worked with .NET development and execution of business applications.
                Excellent communication skills working directly with coworkers and clientele to identify business
                objectives and establish requirements.
                Good programming experience using ASP.NET, MVC, C#.
            </p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/allan-freitas-a43b3247" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/allansud" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://twitter.com/Allansud" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
        <div class="w-100">
            <h2 class="mb-5">Experience</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Senior Software Developer</h3>
                    <div class="subheading mb-3">Globalweb Corp</div>
                    <p>
                        .NET C# Sql Server (Queries), Bootstrap, Jquery, CSS, Razor. ADO.NET, GIT, VSTS, Deploy, Sonar
                        Qube, WCF, WCF Rest, Windows Service, WCF Self Hosted.
                        WebApi, SimpleInjector (IoC)
                    </p>
                    <p> - Development of external integrations using RabbitMQ.<br/> - Docker with Portainer.<br/> -
                        Development of Rest APIs<br/> - Net Core</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">May 2018 - Present</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">.NET Developer</h3>
                    <div class="subheading mb-3">G&P Projetos</div>
                    <p>NET C# Sql Server (Queries), Bootstrap, Jquery, CSS, Razor. ADO.NET, GIT, VSTS.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">July 2017 - May 2018</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">.NET Software Developer</h3>
                    <div class="subheading mb-3">ArqDigital</div>
                    <p>
                        Sql Server, Bootstrap, Jquery, Razor, webApi, Windows Services, SOAP e TFS
                        (Team Foundation Server). Integrações com o sistema de GED adotado pela
                        empresa Laserfiche usando laserfiche SDK. Desenvolvimento da intranet da
                        empresa utilizando a plataforma Java com as tecnologias Spring WEB,
                        Spring Boot, Spring Security, Spring LDAP (para
                        integração com AD), bootstrap, jquery, Hibernate Hikari e MySQL.
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">march 2014 - May 2017</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                <div class="resume-content">
                    <h3 class="mb-0">Java Software Developer</h3>
                    <div class="subheading mb-3">Altran</div>
                    <p>
                        Java com as tecnologias Spring WEB, Spring Boot, Spring Security, Spring LDAP (para
                        integração com AD), bootstrap, jquery, Hibernate Hikari e MySQL.
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">October 2012 - March 2014</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                <div class="resume-content">
                    <h3 class="mb-0">Java Software Developer</h3>
                    <div class="subheading mb-3">Silva e Castro Consultoria</div>
                    <p>
                        Java com as tecnologias Spring WEB, Spring Boot, Spring Security, Spring LDAP (para
                        integração com AD), bootstrap, jquery, Hibernate Hikari e MySQL.
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">October 2011 - October 2012</span>
                </div>
            </div>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
        <div class="w-100">
            <h2 class="mb-5">Education</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">UNIP UNIVERSIDADE PAULISTA</h3>
                    <div class="subheading mb-3">Bachelor of Science</div>
                    <div>Analysis and development of systems</div>
                    <p></p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2010 - July 2012</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                <div class="resume-content">
                    <h3 class="mb-0">ESAB</h3>
                    <div class="subheading mb-3">postgraduate course</div>
                    <div>Systems Engineering</div>
                    <p></p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Jan 2017 - November 2018</span>
                </div>
            </div>

        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
        <div class="w-100">
            <h2 class="mb-5">Skills</h2>

            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item">
                    <i class="fab fa-html5"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-css3-alt"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-js-square"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-angular"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-grunt"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-npm"></i>
                </li>
                <li class="list-inline-item">
                    <i class=""><img src="/img/csharp.png"/></i>
                </li>
                <li class="list-inline-item">
                    <i class=""><img src="/img/sql.png"/></i>
                </li>
                <li class="list-inline-item">
                    <i class=""><img src="/img/jquery.png"/></i>
                </li>
                <li class="list-inline-item">
                    <i class=""><img src="/img/rabbitmq.png"/></i>
                </li>
                <li class="list-inline-item">
                    <i class=""><img src="/img/redis.png"/></i>
                </li>
                <li class="list-inline-item">
                    <i class=""><img src="/img/mongodb.png" alt="MongoDb"/></i>
                </li>
                <li class="list-inline-item">
                    <i class=""><img src="/img/bootstrap.png"/></i>
                </li>
                <li class="list-inline-item">
                    <i class=""><img src="/img/git.png" alt="Git"/></i>
                </li>
                <li class="list-inline-item">
                    <i class=""><img src="/img/java.png" alt="Git"/></i>
                </li>
            </ul>

            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Backend Testing &amp; Debugging
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Cross Functional Teams
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Agile Development &amp; Scrum
                </li>
            </ul>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
        <div class="w-100">
            <h2 class="mb-5">Interests</h2>
            <p>
                When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows,
                and I spend a large amount of my free time exploring the latest technology advancements in the software
                development world.
            </p>
            <p class="mb-0">

            </p>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
        <div class="w-100">
            <h2 class="mb-5">Awards &amp; Certifications</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    Planning
                </li>
            </ul>
        </div>
    </section>

</div>

<!-- Bootstrap core JavaScript -->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.js"></script>

<!-- Custom scripts for this template -->
<script src="/js/resume.js"></script>

</body>

</html>
